name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  xcode-build:
    name: Xcode Build
    runs-on: macOS-11
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_11.7.app/Contents/Developer
      - name: Build and Test Frameworks
        run: |
          xcodebuild \
            -project Aardvark.xcodeproj \
            -scheme "All Frameworks" \
            -sdk iphonesimulator \
            -destination "platform=iOS Simulator,name=iPhone 11 Pro" \
            test
      - name: Build Sample App
        run: |
          xcodebuild \
            -project AardvarkSample/AardvarkSample.xcodeproj \
            -scheme AardvarkSample \
            -sdk iphonesimulator \
            -configuration Debug \
            -PBXBuildsContinueAfterErrors=0 \
            ACTIVE_ARCH_ONLY=0 \
            build
  pod-lint:
    name: Pod Lint
    runs-on: macOS-11
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_11.7.app/Contents/Developer
      - name: Lint CoreAardvark Podspec
        run: bundle exec pod lib lint --verbose --fail-fast CoreAardvark.podspec
      - name: Lint Aardvark Podspec
        run: bundle exec pod lib lint --verbose --fail-fast Aardvark.podspec --include-podspecs=CoreAardvark.podspec
      - name: Lint AardvarkLoggingUI Podspec
        run: bundle exec pod lib lint --verbose --fail-fast AardvarkLoggingUI.podspec --include-podspecs=CoreAardvark.podspec
      - name: Lint AardvarkMailUI Podspec
        run: bundle exec pod lib lint --verbose --fail-fast AardvarkMailUI.podspec --include-podspecs="{CoreAardvark,Aardvark}.podspec"
